@font-face {
    font-family: "Lato-Black";
    src: 
        url("Lato-Black.eot") format("eot"),
        url("Lato-Black.otf") format("otf"),
        url("Lato-Black.svg") format("svg"),
        url("Lato-Black.ttf") format("ttf"),
        url("Lato-Black.woff") format("woff"),
        url("Lato-Black.woff2") format("woff2");
    font-weight: bold; font-style: normal;
}
@font-face {
    font-family: "Lato-Regular";
    src: 
        url("Lato-Regular.eot") format("eot"),
        url("Lato-Regular.otf") format("otf"),
        url("Lato-Regular.svg") format("svg"),
        url("Lato-Regular.ttf") format("ttf"),
        url("Lato-Regular.woff") format("woff"),
        url("Lato-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BabasNeueBold";
    src: 
        url("BabasNeueBold.eot") format("eot"),
        url("BabasNeueBold.otf") format("otf"),
        url("BabasNeueBold.svg") format("svg"),
        url("BabasNeueBold.ttf") format("ttf"),
        url("BabasNeueBold.woff") format("woff"),
        url("BabasNeueBold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Lato-Semibold";
    src: 
        url("Lato-Semibold.eot") format("eot"),
        url("Lato-Semibold.otf") format("otf"),
        url("Lato-Semibold.svg") format("svg"),
        url("Lato-Semibold.ttf") format("ttf"),
        url("Lato-Semibold.woff") format("woff"),
        url("Lato-Semibold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ico";
    src: 
        url("ico.eot") format("eot"),
        url("ico.otf") format("otf"),
        url("ico.svg") format("svg"),
        url("ico.ttf") format("ttf"),
        url("ico.woff") format("woff"),
        url("ico.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
